
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    font-family: Raleway;
    color: #777;
    padding: 0;
    margin: 0
}

body {
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
}

p {
    padding: .5em;
}

.nav ul {
    margin: 0;
}

.nav li {
    display: inline;
}

.nav a {
    display: inline-block;
    padding: .5em;
    color: white;
    text-decoration: none;
}

.main-nav {
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
    border-bottom: 2px solid rgba(254, 153, 0, .5);
}

.main-nav li {
    padding: 0 5%;
}

.main-header {
    background-color: rgb(93, 191, 233);
    background-blend-mode: multiply;
    background-size: cover;
    padding-bottom: 20px;
    position: sticky;
    top: 0;
    z-index: 1;
}
.main-header img {
    float: left;
    width: 125px;
    margin: 8px;
}

.name {
    text-align: center;
    margin: 0;
    font-size: 3em;
    color: white;
    font-family: poppins;
}

.name-large {
    border-bottom: 2px solid rgba(254, 153, 0, .5);
    color: white;
    font-size: 5em;
    text-decoration: none;
}

.name-large-image {
    margin: 0;
    width: auto;
    height: 6em;
    padding: .4em;
}

.content-section {
    margin: 1em;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
    padding-bottom: 2em;
}

.section-header {
    font-weight: bold;
    color: #333;
    text-align: center;
    font-size: 2.5em;
    margin: 1em;
}

.about-image {
    float: left;
    width: 200px;
    margin: 15px;
}

.footer_container{
	max-width: 1170px;
	margin:auto;
}
.footer_row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
    background-color:rgb(93, 191, 233);
    padding: 70px 0;
}
.footer-col{
   width: 50%;
   padding: 0 15px;
}

.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}

.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color:rgb(254, 153, 0);
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}

.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}

.footer-col ul li a{
	font-size: 16px;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	/* color: #bbbbbb; */
	display: block;
	transition: all 0.3s ease;
}

.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}

.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}

.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}